@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>Use this area to provide additional information.</p>
<h3>@ViewBag.timespan</h3>
<h3>@ViewBag.timespann</h3>
<h3>@ViewBag.timespannd</h3>
<h3>@ViewBag.difference</h3>
<h3>@ViewBag.week</h3>
<h3>@ViewBag.Isoweek</h3>
<h3>@ViewBag.extendweek</h3>
<h3>@ViewBag.extended</h3>