@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Date and Time</h1>
    <p class="lead">Learn About Date and Time</p>
</div>
<p>@ViewBag.rigtNow</p>
<p>@ViewBag.DateTimeNow</p>
<p>@ViewBag.Allow</p>
<p>@ViewBag.Message</p>
<p>@ViewBag.Messages</p>
<p>@ViewBag.DateTimeNow</p>
<p>@ViewBag.DateTimeOffsetNow</p>
<p>@ViewBag.timeZones</p>
<p>@ViewBag.timeZone</p>
<p>@ViewBag.New</p>
<p>@ViewBag.News</p>
<p>@ViewBag.Old</p>
<p>@ViewBag.old</p>
<p>@ViewBag.ParsedData</p>
<p>@ViewBag.parsedDataKind</p>
<p>@ViewBag.parsedDatas</p>
<p>@ViewBag.parsedDatasKind</p>
<p>@ViewBag.formattedDate</p>
<p>@ViewBag.formattedDates</p>
<p>@ViewBag.formatDateWithOffset</p>
